/* reset */

*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;

}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*  styles */



.container{ 
	width: 1008px;
	margin: 20px auto;
	
}
.beta{
	font-size:1.250em;margin:1.2em 0 1.2em 0;line-height: 1.83em;
font-family: sans-serif;font-size: 150%;
	text-align:justify; 
}

.b {
	font-size: 1.25em; font-family: sans-serif;
font-weight: bold; text-align: right; 
border-collapse: separate; border: 11.25em 0 1.15em 0;
line-height: 1.83em;
}


.image-list{}

.image-list .item{
	display:inline-block;
	width:25%;
	float:left;
	height:200px;
	vertical-align: middle;
	text-align: left;
	padding:0 3em 1em;
}

.image-list .item img{
	width:100%;
	height:auto;
}
#footer {
	text-align: center; font-size: .814em;
}
.toy{
	text-align: center;
	margin:.866em 0;
}
.footer-link {
	font-size: .814em;
	display:inline-block;
	margin:0 .384em;
}



